In [4]:
import pandas as pd

# 创建数组

In [2]:
pd.Series([1, 2, 33, 44, 11])

0     1
1     2
2    33
3    44
4    11
dtype: int64

# 使用index自定义索引

In [7]:
a = pd.Series([1, 23, 45, 32, 21], index = list("abcde"))
a

a     1
b    23
c    45
d    32
e    21
dtype: int64

# 使用字典创建数组

In [6]:
d = {"name":"Kadmin", "age":19, "gender":"hilicoper"}
pd.Series(d)

name         Kadmin
age              19
gender    hilicoper
dtype: object

# 更改dtype

In [9]:
a.astype(float)

a     1.0
b    23.0
c    45.0
d    32.0
e    21.0
dtype: float64

# 索引

In [15]:
a["a"]

1

In [16]:
a[0]

1

In [19]:
a[2:4]

c    45
d    32
dtype: int64

## 连续索引多个

In [21]:
a[[1, 3]]

b    23
d    32
dtype: int64

## 选择性索引

In [20]:
a[a>10]

b    23
c    45
d    32
e    21
dtype: int64

# 遍历

In [23]:
for i in a.values:
    print(f"{i}")

1
23
45
32
21

In [25]:
for i in a.index:
    print(f"{i}")

a
b
c
d
e