In [ ]:
import pandas as pd
import numpy as np

In [ ]:
a = pd.DataFrame(np.random.randint(1, 100, 40).reshape(5, 8))
a

# 布尔索引

In [ ]:
b = a[a>50]  # 小于等于50的变为NaN
b

In [ ]:
a[a[3]>10]  # 显示第三列大于10的行

In [ ]:
a[(a[3]>10) & (a[4]<50)]  # 显示第三列大于10且第4列小于50的行

# 显示NaN

In [ ]:
b

In [ ]:
b.isnull()  # 或bd.isnull(b)

In [ ]:
b.notnull()  # 或bd.notnull(b)

In [ ]:
b[b[4].notnull()]  # 查询第4列中不为NaN的行

# 对NaN的处理

## 1.删除

axis: 0删除列;1删除行 </br>
how : any有一个NaN即删除；all整行(列)为NaN才删除 </br>
inplace: 对原DataFrame进行修改

In [ ]:
b.dropna(axis=0, how='any', inplace=False)

## 2.替换

In [ ]:
b.fillna("I am NaN")

## 3.替换数字

In [ ]:
b[ b < 30 ] = np.nan
b